---
import { ArrowLeft, ArrowUp } from "lucide-react";

const { href: currentPath } = Astro.url;

const buttonClasses =
  "inline-flex items-center rounded-md border border-neutral-800 bg-neutral-900 p-1.5 text-brand-600 transition-all duration-300 hover:cursor-pointer hover:bg-brand-600 hover:text-brand-50 focus:bg-brand-600 focus:text-brand-50";
---

<div class="fixed right-4 bottom-2.5 z-30">
  <div
    class="flex translate-y-[200%] items-center gap-x-2 opacity-0 transition-all delay-200 duration-300"
    id="buttons"
  >
    {
      currentPath !== "/" && (
        <button
          aria-label="Go back"
          type="button"
          onclick="history.back()"
          class={buttonClasses}
        >
          <ArrowLeft className="size-6" />
        </button>
      )
    }
    <button
      aria-label="Go top of the page"
      type="button"
      id="scroll-to-top-button"
      class={buttonClasses}
    >
      <ArrowUp className="size-6" />
    </button>
  </div>
</div>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const scrollToTop = () => {
      const isBrowser = typeof window !== "undefined";
      if (isBrowser) {
        window.scrollTo({
          top: 0,
          behavior: "smooth",
        });
      }
    };
    const scrollToTopButton = document.getElementById("scroll-to-top-button");
    if (scrollToTopButton) {
      scrollToTopButton.addEventListener("click", scrollToTop);
    }

    let isVisible = false;
    const navButtons = document.getElementById("buttons");

    const toggleVisibility = () => {
      if (window.scrollY > 400) {
        isVisible = true;
      } else {
        isVisible = false;
      }

      if (navButtons) {
        navButtons.classList.toggle("translate-y-0", isVisible);
        navButtons.classList.toggle("opacity-100", isVisible);
        navButtons.classList.toggle("translate-y-[200%]", !isVisible);
        navButtons.classList.toggle("opacity-0", !isVisible);
      }
    };

    window.addEventListener("scroll", toggleVisibility);
  });
</script>
