{
  /* Wraps the markdown content, style the post contents here.
  https://github.com/tailwindlabs/tailwindcss-typography
      */
}
<div
  class="prose prose-img:rounded-lg prose-headings:text-neutral-200 prose-h1:mb-4 prose-h2:mb-3 prose-h2:text-2xl prose-h3:mb-2 prose-h4:mb-1 prose-p:text-neutral-400 prose-a:scroll-m-20 prose-a:text-brand-600 prose-a:no-underline prose-a:transition-colors prose-a:duration-300 hover:prose-a:text-brand-500 prose-blockquote:border-l-2 prose-blockquote:border-l-brand-500 prose-blockquote:font-light prose-strong:text-neutral-300 prose-li:scroll-m-20 prose-headings:scroll-m-24 prose-li:marker:text-neutral-400 prose-table:my-4 prose-thead:border-neutral-400 prose-tr:border-neutral-800 odd:prose-tr:bg-neutral-900/40 prose-th:bg-neutral-950 prose-th:px-2 prose-th:font-semibold prose-th:text-neutral-200 prose-td:px-2 first:prose-td:font-semibold first:prose-td:text-neutral-200 prose-hr:my-8 prose-hr:w-32 prose-hr:border-dotted prose-hr:border-brand-500/50 max-w-[65ch] text-neutral-400"
>
  <slot />
</div>
