---
import "@fontsource-variable/saira";
import BaseHead from "@/components/BaseHead.astro";
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  SITE_IMAGE,
  SITE_LANGUAGE,
  SITE_NAME,
} from "@/consts";

// For pages, without header and footer.

const { title, description, image } = Astro.props;
---

<html lang={SITE_LANGUAGE}>
  <head>
    <BaseHead
      title={title ? title + ` | ${SITE_NAME}` : SITE_TITLE}
      description={description ? description : SITE_DESCRIPTION}
      image={image ? image : SITE_IMAGE}
    />
  </head>
  <body class="relative">
    <slot />
  </body>
</html>
